
* {
	margin: 0;
	padding: 0;
}

html {
	height: 100vh;
    width: 140px;
}
body {
	height: 100vh;
	max-width: 1440px;
    width: 100%;
}	
.side-color {
	background-image: linear-gradient(-140deg, #e942ff -31%, #8838ff 100%);
	border-radius: 0 0 200px 200px;
	height: 90vh;
	left: -6%;
	position: absolute;
	max-width: 30%;
    width: 100%;
}

.mobile-design {
	background-color: #f5f3f7;
    border: 12px solid white;
	border-radius: 25px;
	height: 100%;
	left: 17%;
    width: 100%;
	max-width: 220px;
	position: absolute;
	max-height: 460px;
	top: 13%;
	z-index: 1;
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 220px 0 rgba(0, 0, 0, 0.19);
}

.mobile-notch {
	align-items: center;
	background-color: white;
    border-radius: 3px 3px 11px 11px;
	height: 18px;
	position: absolute;
	left: 25%;
	top: -2%;
	margin: 0;
	padding: 0;
	width: 50%;
	z-index: 1;
}

.top-part {
	background-image: linear-gradient(270deg, #e942ff, #8838ff);
	border-radius: 12px 12px 8px 8px;
    max-width: 300px;
	height: 70px;
	position: absolute;
	top: -0.5%;
	margin: 0;
	padding: 0;
	width: 100%;
	z-index: -1;
}
.top-part > img {
	align-items: center;
	border: 1px solid white;
	border-radius: 50%;
	position: absolute;
	top: 40%;
	left: 14%;
	width: 12%;
}
.arrow-icon {
	align-items: center;
	color: white;
	font-size: 1.1em;
    position: absolute;
	left: 5%;
	top: 49%;
}

.menu-icon {
	color: white;
	top: 52%;
	left: 90%;
	position: absolute;
	font-size: 0.71em;
	align-items: center;
}

.avatar-info {
	color: white;
	left: 30%;
	position: absolute;
	top: 42%;
    width: 100%;
}
.avatar-info > h2 {
	font-size: 0.78em;
	font-weight: 200;
	font-family: "Rubik", sans-serif;
}

.avatar-info > p {
	font-size: 0.54em;
	font-family: "Rubik", sans-serif;

	color: #d89eff;
}

#chats-left {
	color: #9241c8;
	left: 5%;
}

.left {
	background-color: #ebe8ed;
    border-radius: 10px 10px 10px 4px;
    font-family: "Rubik", sans-serif;
	font-size: 0.53em;
	padding: 0.72em 0.65em 0.72em 1em;
    position: absolute;
	max-width: 51%;
	left: 5%;
	line-height: 1.5;
    max-width: 60%;
	text-align: left;
}

.left-chat1 {
	top: 16.5%;
}

.left-chat2 {
	top: 25.8%;
}

.left-chat3 {
	top: 64%;
}

.right {
	background-color: white;
	border-radius: 10px 10px 4px 10px;
    font-family: "Rubik", sans-serif;
	font-size: 0.53em;
    position: absolute;
	padding: 0.72em 0.65em 0.72em 1em;
    max-width: 52%;
	left: 34%;
	line-height: 1.5;
	text-align: left;
}

.chat-right1 {
	color: #6e5d7e;
	left: 37%;
    top: 47%;
}

.chat-right2 {
	top: 56%;
	left: 60%;
	color: #6e5d7e;
}

.right-img {
	position: relative;
}

.right-img,
img {
	border-radius: 10px;
    max-width: 30%;
	width: 100%;
}

.img {
	position: absolute;
	top: 36%;
	left: 40%;
}
.chat {
	align-content: center;
	background-image: linear-gradient(90deg, #e942ff 20%, #8838ff);
    border-radius: 10px 10px 10px 4px;
	color: white;
    position: absolute;
	font-size: 0.43em;
	font-family: "Rubik", sans-serif;
	left: 5%;
	padding: 0.9em 0.95em 0.9em 1em;
	font-weight: lighter;
	top: 76%;
}
.price-chat2 {
	top: 83%;
}
b {
	color: white;
    position: relative;
	padding-left: 2.4em;
	padding-right: 1em;
	font-size: 1.73em;
}

.price-chat2 b {
	padding-left: 3.8em;
}

.circle-icon {
	font-size: 1.7em;
	position: relative;
	right: 2%;
	font-weight: 100;
	color: #e570ff;
}

.radio-button {
	align-content: center;
	height: 100%;
	display: inline-block;
	position: absolute;
	max-width: 300px;
    width: 100%;
}
.type-box {
	position: absolute;
	left: 5%;
	top: 91%;
}

.msg-btn {
	background-color: white;
    border: none;
	border-radius: 30px;
    padding: 1.2em 0.78em;
	font-family: "Rubik", sans-serif;
	font-size: 0.58em;
	color: #c6cacd;
	text-align: left;
	position: relative;
	display: block;
	width: 27vmin;
}
.right-icon {
	background-color: #3e2753;
    color: white;
	position: absolute;
	left: 86%;
	font-size: 0.8rem;
	max-width: 15px;
	height: 15px;
	border-radius: 50%;
	text-align: center;
	line-height: 18px;
	vertical-align: middle;
	padding: 5px;
	width: 100%;
    top: 12%;
}

.heading {
	position: absolute;
	left: 47%;
	font-family: "Rubik", sans-serif;
	top: 39%;
	width: 100%;
}
.heading > p {
	color: #a39daa;
	font-size: 1.1rem;
	font-weight: 100;
	max-width: 36%;
    line-height: 1.5;
}
.heading > h1 {
	color: #3e2753;
	font-size: 2.4rem;
	font-weight: 700;
    padding-bottom: 0.83em;
}
.right-color {
	background-color: #f7f7f7;
	border-radius: 200px 200px 0 0;
    max-width: 30%;
	height: 90vh;
	left: 77.5%;
	position: absolute;
	top: 16%;
	width: 100%;
    z-index: -1;
}

@media (min-width: 100px) and (max-width: 590px) {
	.side-color {
		border-radius: 0px 0px 900px 200px;
        left: -30%;
		max-width: 80%;
		position: absolute;
		top: -14%;
	}
   
	.body {
		overflow-x: hidden;
		overflow-y: visible;
	}

	body {
		width: 100%;
		max-width: 375px;
		height: 100vh;
		overflow-x: hidden;
		overflow-y: visible;
	}

	.mobile-design {
		align-content: center;
		justify-content: center;
		top: 10%;
	}

	.left {
		font-size: 0.43em;
		max-width: 20%;
	}

	.left-chat1 {
		top: 17%;
		max-width: 50%;
	}

	.left-chat2 {
		top: 26%;
		max-width: 50%;
	}

	.right {
		font-size: 0.46em;
	}

	.chat-right1 {
		left: 40%;
	}

	.chat-right2 {
		left: 62%;
	}

	.left-chat3 {
		top: 62%;
		max-width: 55%;
	}

	.price-chat1 {
		margin-top: 340px;
		top: 0%;
	}

	.price-chat2 {
		margin-top: 380px;
		top: 0%;
	}

	.msg-btn > input,
	::placeholder {
		font-size: 1em;
	}

	.msg-btn {
		width: 100%;
		height: 6px;
		left: -2%;
		padding-right: 3em;
	}

	.heading {
		left: 14%;
		align-content: center;
		justify-self: center;
		padding-top: 25em;
	}

	.heading > h1 {
		font-size: 2.3rem;
	}

	.heading > p {
		position: relative;
		font-size: 0.93rem;
		max-width: 80%;
		text-align: center;
		padding-bottom: 4em;
		right: 4%;
		line-height: 1.8;
	}
.right-color {
		left: 85%;
		display: none;
	}
.right-icon {
		left: 110%;
		top: 2%;

	}
}
@media (min-height: 730px) and (max-height: 823px) {
	.side-color {
		border-radius: 0px 0px 900px 200px;
		position: absolute;
        height: 100%;
		max-height: 630px;
		max-width: 80%;
	}
   .mobile-design {
		height: 100%;
		max-height: 460px;
	}

	.heading {
		padding-top: 20em;
	}

	
	}
