@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&display=swap");
body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .topnav {
     background-color: #333;
     overflow: hidden;
  }
  
  .topnav a {
    color: #f2f2f2;
    float: left;
    font-size: 17px;
    padding: 14px 16px;
    text-align: center;
    text-decoration: none;
    text-align: center;

  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .topnav a.active {
    background-color: #04AA6D;
    color: white;
  }
  
  * {
     margin: 0px;
     padding: 0px;
  }

  .main {
     margin: 2%;
  }

  .card {
     box-shadow: 2px 2px 20px black;
     border-radius: 5px;
     width: 20%;
     display: inline-block;
     margin: 2%;
     width: 20%;
  }

  .image {
     border-top-right-radius: 5px;
     border-top-left-radius: 5px;         
     padding-top: 10px;
     width: 100%;
  }

  .title {
     padding: 10px;
     text-align: center;
  }

  h1 {
     font-size: 20px;
     font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
     font-size:2rem;
  }

  .des {
     border-bottom-right-radius: 5px;
     border-bottom-left-radius: 5px;
     padding: 3px;
     padding-top: 10px;
     text-align: center;
  }

  button {
     background-color: white;
     border: 1px solid black;
     border-radius: 5px;
     margin-top: 40px;
     margin-bottom: 10px;
     padding: 10px;
  }

  button:hover {
     background-color: black;
     color: white;
     cursor: pointer;
     transition: .5s;
  }

  a {
     text-decoration: none;
     color: black;
     font-size: large;
  }

  a:hover {
     color: #fff;
  }

  .covid {
     margin-top: 40px;
     padding-top: -40px;
  }

  .ordersummary {
     margin-top: 0px;
  }

  .Huddle>h1 {
     margin-bottom: -40px;
  }

  .js {
     font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
     font-size: 3rem;
  }